.l-column {
  width: 272px;
  margin-right: 1rem;
}

.l-container {
  background-color: #ebecf0;
  color: black;
  border-radius: 5px;
  padding: 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.l-column__butt {
  color: black;
  flex: unset;
  padding-right: 0;
  width: 100%;
  margin-top: 10px;
}

.l-column__butt .g-add-input__butt:hover {
  background-color: rgba(9, 30, 66, 0.08);
}

.l-column__butt button {
  color: black;
}
