/* ==============
     TASK ITEM
================= */
.task-item {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  word-break: break-word;
  position: relative;
}

.task-item:not(:last-of-type) {
  margin-bottom: 5px;
}

.task-item i {
  cursor: pointer;
  font-size: 12px;
  height: 12px;
  width: 12px;
  display: none;
  position: absolute;
  right: 10px;
  top: 11px;
  background-color: #f4f5f7;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.task-item:hover i {
  display: flex;
}

.task-item__time-stamp {
  font-size: 12px;
  color: #6b778c;
  margin-top: 10px;
}

.task-item__time-stamp > div:first-of-type {
  margin-bottom: 3px;
}
