.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hotpink;
  color: white;
}

.b__body,
.b__header {
  padding: 1rem;
}

.butt__pink-br {
  border: 3px solid yellow;
}

.butt__pink-br:hover {
  background-color: yellow !important;
}
