.g-add-input {
  flex: 0 0 286px;
  align-self: flex-start;
  padding-right: 1rem;
}

.g-add-input__input,
.g-add-input__butt {
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.g-add-input__input {
  margin-bottom: 10px;
}

.g-add-input__butt {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.24);
}

.g-add-input__butt:hover {
  background-color: hsla(0, 0%, 100%, 0.32);
}

.g-add-input__butts button:not(:last-of-type) {
  margin-right: 10px;
}

.g-add-input__butts button {
  background-color: transparent;
  color: white;
  font-weight: bold;
}
