.l-column__header {
  margin-bottom: 1rem;
  position: relative;
}

.l-column__header__ellipsis {
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: 5px;
  font-size: 16px;
  color: #6b778c;
}
