.g-ellipsis {
  position: relative;
  align-self: flex-start;
}

.g-ellipsis > i {
  cursor: pointer;
}

.g-ellipsis__body {
  position: absolute;
  z-index: 1;
  padding: 5px;
  background-color: white;
  color: black;
  width: 200px;
  border-radius: 5px;
}

.g-ellipsis__body__h {
  padding: 5px 0;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
}

.g-ellipsis__body > div:not(.g-ellipsis__body__h) {
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.g-ellipsis__body > div:not(.g-ellipsis__body__h):hover {
  background-color: rgba(9, 30, 66, 0.04);
}
