.g-textarea {
  padding: 5px;
}

.g-editor-input {
  /* min-height: 20px; */
  font-size: 16px;
  font-family: inherit;
  /* padding: 10px; */
}

input.g-editor-input {
  box-shadow: inset 0 0 0 2px hotpink;
  border-radius: 5px;
}

span.g-editor-input {
  cursor: pointer;
  width: 100%;
  display: inline-block;
}
